* {
 margin: 0;
 padding: 0;
 list-style:nome ;
}

header {
  background-color: rgb(32, 73, 136);
  padding: 15px;
  display: flex;  
  justify-content: space-around;
  align-items: center;
}

header div ul {
  display: flex;
}

header div ul li {
  margin-right: 20px;
}

header div ul li a {
    text-decoration: nome;
    color: rgb(23, 71, 99);
   font-weight: 900;
}

header div ul li a:hover {
 color: black;
 transition: 1.0s;
}

.section-01 {
    padding: 400px;
    background-color: rgb(20, 19, 20);
    display: flex;
    justify-content: center;
    align-items: center;


    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 300px;
}

.section-01 button {
 width: 150px;
 height: 45px; 
 border-radius: 10px; 
 background-color: rgba(15, 12, 7, 0.692); 
 
}
.section-01 button:hover{
    color: rgba(9, 6, 214, 0.822);
    transition: 0.8s;
    }                                                          
















