:root {
  --font-color: white;
  --module-size: 1rem;
  --font-family:helvetica, arial, sans-serif;
  --primary-color:tomato;
}
*{
 margin: 0px;
 box-sizing: border-box;
 font-family: Georgia, 'Times New Roman', Times, serif;
 list-style: nome;
}

body {
  height: 100px;
}

header {
  background-color:rgb(78, 135, 168) ;
  padding: 50px;
}

header div ul {
  display: flex;
}

.type-header {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

header li a {
 color:white; 
 margin-right: 25px; 
}

header div ul li a {
  text-decoration: nome;
  color: rgb(233, 232, 230);
 font-weight: 500;
}

header div ul li a:hover {
  color: black;
  transition: 1.0s;
}

.sessao {
  padding: 40px;
  width: auto;
  background: linear-gradient(180deg, #c0cdcf 8.33%, rgba(90, 168, 168) 100%);
  flex-wrap: wrap;
}

.sessao h1 {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.712);
}

.sessao p {
  font-size: 40px; 
}
  

  .sessao button {
  padding: 25px;
  border-radius:55px ;
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  }
















