* { 
   margin: 0;
   padding: 0;
   list-style: nome;
}

header { 
    background-color: rgb(160, 124, 95);
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
     width: 99px;
     height: auto;
}


header div ul {
        display: flex;
}

header div ul li {
     margin-right: 20px;
}


header div ul li a {
     text-decoration: nome;
     color: rgb(226, 181, 76);
    font-weight: 900;
}

header div ul li a:hover {
color: black;
transition: 1.0s;
}

.section-01 {
    padding: 400px;
    background-color: rgb(20, 19, 20);
    display: flex;
    justify-content: center;
    align-items: center;


    background-image: url(imagens/lion-3290180_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 300px;
}
 /* estilização do botão (SAIBA MAIS)
- aqui fazemos o caminho exato de
onde se encontra o botão */
.section-01 button {
    width: 150px; /*largura do
    botão*/
    height: 45px; /*altura do botão*/
    border-radius: 10px; /*arredondamento da borda*/
    background-color: rgb(145, 89, 17); /*cor de fundo
    do botão*/
}

.section-01 button:hover{
color: rgba(9, 6, 214, 0.822);
transition: 0.8s;
}
/* chamamos nossa segunda sessão
para estilização */ 
.section-02 {
    padding: 250px; /*preenchimento/
    tamanho da sessão*/
    background-color: rgba(214, 95, 15, 0.89); /*cor de fundo da sessão*/
    display: flex; /*tornando a
    sessão flex e deixando os intens
    lado a lado*/
    justify-content: space-evenly; /*justificação do conteúdo - 
    usando o spa-evenly como
    paramento*/
    align-items: center; /*
    alinhamento dos intens na vertical - trazendo para o
    centro*/
}
/* aqui estamos chamando nosso
parágrafo para estilização*/
.section-02 p {
    margin: 50px; /*aqui colocamos
    uma espaçamento nas margens de 
    todos os lados*/
    color: rgb(8, 8, 8); /*cor da letra*/
    font-size: 30px; /*tamanho da
    letra*/
    font-weight: 300; /*peso da
    letra*/
}
/* aqui estamos estilizando nosso
subtítulo (H2) */
.section-02 h2 {
    margin: 30px; /*aqui colocamos
    uma espaçamento nas margens de
    todos os lados*/
    color: rgb(32, 26, 26); /*cor da letra*/
    font-size: 40px; /*tamanho da
    letra*/
    font-weight: 300; /*peso da 
    letra*/
}
/* aqui chamamos nossa terceira e 
última sessão para estilização*/
.section-03 {
    background-image:url(imagens/lion-3099986_1280.jpg) ; /*
    habilitamos uma imagem de fundo
    para a sessão*/
    background-attachment: fixed;/*
    deixamos a imagem ´´parada`` na
    sessão, ou seja FIXADA*/
    background-repeat: no-repeat; /*
    repetição da imagem desabilitada*/
    background-size: cover; /*preenchimento total da imagem
    na sessão / espaço disponível*/
    background-position: center; /*
    posição em que a imagem será
    apresentação*/
    padding: 350px; /*tmanho / 
    preenchimento da sessão*/
}

/* aqui habilitamos o rodapé para
estilização*/
footer {
   background-color:rgb(88, 86, 86); /*
   de fundo do rodapé*/
   display: flex; /*tornando a
   sessão flex e deixando os itens
   lado a lado*/
   justify-content: center; /*
   justificativa do conteúdo ao 
   centro*/
   padding: 35px; /*tamanho / 
   preenchimento do rodapé*/
}
/* trazendo nossa lista não ordenada
para estilização */
footer div ul {
    display: flex; /*aqui tornamos
    nossa lista um elemento flex,
    com isso as listas ficaram lado
    a lado */
}
/* aqui estamos trabalhando
diretamento dentro das listas */
footer div ul li {
    margin-right: 25px; /*atribuimos
    um espaçamento entre as listas,
    para que tenham uma melhor
    visualização*/
}
/* aqui estamos trabalhando dentro
da ancora */
footer div ul li a {
    color: white; /*cor da letra*/
    text-decoration: none; /*
    decoração do texto desabilitada
    - retirando o sublinhado*/
    font-weight: 300; /*peso da
    fonte*/
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*tipo /
    família de fonte*/
}
footer div ul li a:hover {
    color: rgb(32, 26, 26);
    transition: 0.8s;
}

header i { /*estilizando ícone*/
    color:white ; /*cores do ícone*/
    font-size: 40px; /*tamanho do ícone*/
    background-color: gray; /*cor de fundo do elemento*/
    padding: 20px; /*respiro/preenchimento da cor de fundo*/
    border-radius: 15px; /*aplicando o efeíto ao passar*/
}

header i:hover {
background-color: rgb(13, 11, 17);
transition: 0.6s;
}

/* ESTILIZAÇÃO TELA 2 */



.section-tela2 {
    background-image: url(imagens/lion-5751867_1280.jpg);
    padding: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-tela2 p {
    font-size: 35px;
    color: aliceblue;
    font-weight: 500;
    background-color: rgba(143, 209, 76, 0.171);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-tela2 span {
    color: rgb(9, 14, 14);
    font-weight: bold
}
.section-nova{
   padding: 150px; /*preenchimento da sessão */
   background: linear-gradient(180deg,#9c4701e8 8.33%, #020203 100%);
}
/*div pai - dentro dele existe 3 caixas */
.div-pai {
   display: flex; /*tornando os itens flex, deixando as
   caixas lado a lado*/
   justify-content: center; /*justificando os itens ao
   centro */
   margin-bottom: 20px;
}
/* estilização das caixas (div filho) */
.div-pai div {
    width: 200px; /*largura da caixa */
    height: 250px; /*altura da caixa */
     background-image:url(imagens/leão-02.jpg); /*cor de fundo da caixa*/
    margin-right: 20px; /*espaçamento entre as caixas(div)*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.div-pai2 {
    display: flex; /*tornando os itens flex, deixando as
    caixas lado a lado*/
    justify-content: center; /*justificando os itens ao
    centro */
}
.div-pai2 div {
    width: 200px; /*largura da caixa */
    height: 250px; /*altura da caixa */
    background-color: rgb(9, 127, 206); /*cor de fundo da caixa*/
    margin-right: 20px; /*espaçamento entre as caixas(div)*/
}
.div-pai .div-filho1 {
background-image: url(imagens/visao-do-leao-na-natureza_23-2150374836.avif);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.div-filho1:hover{
 width: 210px;
height:290px ;
transition: 0.8s;
border-radius: 30px;
background-image: url(imagens/leao-em-paisagem-de-floresta-seca_23-2151661787.avif);
}
.div-pai .div-filho2 {
 background-image: url(imagens/quadro-pintura-leao-80x100-elton-brunetti-jpeg.webp);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.div-filho2:hover{
    width: 210px;
   height:290px ;
   transition: 0.8s;
   border-radius: 30px;
   background-image: url(imagens/leao-colorido-imagem-imagem-leao-majestoso-imagens-geradas-por-ia_873370-5105.avif)
}
.div-pai .div-filho3 {
background-image: url(imagens/leao-pintura-cabeca-de-leao-na-frente_677258-12.avif);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.div-filho3:hover{
    width: 210px;
   height:290px ;
   transition: 0.8s;
   border-radius: 30px;
   background-image: url(imagens/cdb782c5363e4fbef52c4d27c034cdc0.jpg)
}
.div-pai2 .div-filho4 {
    background-image: url(imagens/leao-em-paisagem-de-floresta-seca_23-2151661787.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    .div-filho4:hover{
        width: 210px;
       height:290px ;
       transition: 0.8s;
       border-radius: 30px;
       background-image: url(imagens/visao-do-leao-na-natureza_23-2150374836.avif)
    }
.div-pai2 .div-filho5 {
    background-image: url(imagens/leao-colorido-imagem-imagem-leao-majestoso-imagens-geradas-por-ia_873370-5105.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.div-filho5:hover{
    width: 210px;
   height:290px ;
   transition: 0.8s;
   border-radius: 30px;
   background-image: url(imagens/quadro-pintura-leao-80x100-elton-brunetti-jpeg.webp)
}
.div-pai2 .div-filho6 {
    background-image: url(imagens/cdb782c5363e4fbef52c4d27c034cdc0.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}
.div-filho6:hover{
    width: 210px;
   height:290px ;
   transition: 0.8s;
   border-radius: 30px;
   background-image: url(imagens/leao-pintura-cabeca-de-leao-na-frente_677258-12.avif)
}

.section-ultima {
   padding: 200;
   background-color: rgb(124, 119, 115);
   display: flex;
   justify-content: space-evenly;
}
.div-título h2 {
  color: white;
   margin: 20px;
   font-size: 25px;
}
.div-título p {
 color: rgb(238, 234, 234);
 margin: 20px;
 font-size: 20px;
  font-weight: 400;
}
.div-iframe iframe {
    border-radius: 10px;
    margin-right: 30px;
}

/* tag section - atual */
.section-atual{
    padding: 200px;
    background-color: rgb(53, 45, 36);
    display: flex;
}
/* tag - rodape */
.rodape {
  padding: 100px;
background-color: rgba(8, 8, 8, 0.938);
display: flex;
justify-content: space-evenly;
align-items: center;
}

.div-line img {
    width: 80px;
}

