* { 
   margin: 0;
   padding: 0;
   list-style: nome;
}

header { 
    background-color: rgb(160, 124, 95);
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
     width: 99px;
     height: auto;
}


header div ul {
        display: flex;
}

header div ul li {
     margin-right: 20px;
}


header div ul li a {
     text-decoration: nome;
     color: rgb(238, 200, 129);
    font-weight: 900;
}
header div ul li a:hover {
color: black;
transition: 1.0s;
}

.section-01 {
    padding: 400px;
    background-color: rgb(200, 144, 252);
    display: flex;
    justify-content: center;
    align-items: center;


    background-image: url(imagens/lion-3290180_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 300px;
}
 
/* estilização do botão (SAIBA MAIS)
- aqui fazemos o caminho exato de
onde se encontra o botão */
.section-01 button {
    width: 150px; /*largura do
    botão*/
    height: 45px; /*altura do botão*/
    border-radius: 10px; /*arredondamento da borda*/
    background-color: rgba(248, 226, 226, 0.438); /*cor de fundo
    do botão*/
}
.section-01 button:hover{
color: rgba(75, 6, 236, 0.884);
transition: 0.8s;
}

/* chamamos nossa segunda sessão
para estilização */ 
.section-02 {
    padding: 250px; /*preenchimento/
    tamanho da sessão*/
    background-color: rgb(99, 87, 95); /*cor de fundo da sessão*/
    display: flex; /*tornando a
    sessão flex e deixando os intens
    lado a lado*/
    justify-content: space-evenly; /*justificação do conteúdo - 
    usando o spa-evenly como
    paramento*/
    align-items: center; /*
    alinhamento dos intens na vertical - trazendo para o
    centro*/
}
/* aqui estamos chamando nosso
parágrafo para estilização*/
.section-02 p {
    margin: 50px; /*aqui colocamos
    uma espaçamento nas margens de 
    todos os lados*/
    color: rgb(14, 13, 13); /*cor da letra*/
    font-size: 30px; /*tamanho da
    letra*/
    font-weight: 300; /*peso da
    letra*/
}
/* aqui estamos estilizando nosso
subtítulo (H2) */
.section-02 h2 {
    margin: 30px; /*aqui colocamos
    uma espaçamento nas margens de
    todos os lados*/
    color: rgb(32, 26, 26); /*cor da letra*/
    font-size: 40px; /*tamanho da
    letra*/
    font-weight: 300; /*peso da 
    letra*/
}
/* aqui chamamos nossa terceira e 
última sessão para estilização*/
.section-03 {
    background-image:url(imagens/lion-3099986_1280.jpg) ; /*
    habilitamos uma imagem de fundo
    para a sessão*/
    background-attachment: fixed;/*
    deixamos a imagem ´´parada`` na
    sessão, ou seja FIXADA*/
    background-repeat: no-repeat; /*
    repetição da imagem desabilitada*/
    background-size: cover; /*preenchimento total da imagem
    na sessão / espaço disponível*/
    background-position: center; /*
    posição em que a imagem será
    apresentação*/
    padding: 350px; /*tmanho / 
    preenchimento da sessão*/
}

/* aqui habilitamos o rodapé para
estilização*/
footer {
   background-color:rgb(211, 23, 23); /*
   de fundo do rodapé*/
   display: flex; /*tornando a
   sessão flex e deixando os itens
   lado a lado*/
   justify-content: center; /*
   justificativa do conteúdo ao 
   centro*/
   padding: 35px; /*tamanho / 
   preenchimento do rodapé*/
}
/* trazendo nossa lista não ordenada
para estilização */
footer div ul {
    display: flex; /*aqui tornamos
    nossa lista um elemento flex,
    com isso as listas ficaram lado
    a lado */
}
/* aqui estamos trabalhando
diretamento dentro das listas */
footer div ul li {
    margin-right: 25px; /*atribuimos
    um espaçamento entre as listas,
    para que tenham uma melhor
    visualização*/
}
/* aqui estamos trabalhando dentro
da ancora */
footer div ul li a {
    color: white; /*cor da letra*/
    text-decoration: none; /*
    decoração do texto desabilitada
    - retirando o sublinhado*/
    font-weight: 300; /*peso da
    fonte*/
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*tipo /
    família de fonte*/

}
footer div ul li a:hover {
    color: rgb(32, 26, 26);
    transition: 0.8s;
}

header i { /*estilizando ícone*/
    color:white ; /*cores do ícone*/
    font-size: 40px; /*tamanho do ícone*/
    background-color: gray; /*cor de fundo do elemento*/
    padding: 20px; /*respiro/preenchimento da cor de fundo*/
    border-radius: 15px; /*aplicando o efeíto ao passar*/
}

header i:hover {
background-color: rgb(13, 11, 17);
transition: 0.6s;
}

/* ESTILIZAÇÃO TELA 2 */



.section-tela2 {
    background-image: url(imagens/lion-5751867_1280.jpg);
    padding: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-tela2 p {
    font-size: 35px;
    color: aliceblue;
    font-weight: 500;
    background-color: rgba(143, 209, 76, 0.171);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-tela2 span {
    color: aqua;
    font-weight: bold;
}



